<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cadastramento</title>
    <link rel="stylesheet" href="../public/css/login.css">
</head>
<body>
    <div class="caixalogin">
        <img src="../public/assets/img/033-people.png" class="avatar" alt="">
        <h1>Inscreva-se</h1>
        <form  action="../views/index.html" method="post">
            <p>Nome de Usuário</p>
            <input type="text" name="" placeholder="Escreva o nome" required>
            <p>Email</p>
            <input type="email" name="" placeholder="Escreva o email" required>
            <p>Password</p>
            <input type="password" name="" placeholder="Escreva a password" required>
            <input type="submit" name="" value="Cadastrar">
        </form>
    </div>
    <footer>
        <p>&copy;  Kambadiami 2022 - Todos os direitos reservados.</p>
    </footer>
</body>
</html>