<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Xavier Massy Mirzada is an afghan designer born on March 3rd, 1993 in Lyon, France. Being 6 years old his family moved to Germany where he finished his fashion design study at the AMD, Akademie für Mode & Design in Hamburg. His upbringing between different colliding worlds played a fundamental role in Xavier foundation and only fuelled his curiosity for the world and it's secrets.

During his studies Xavier found a big interest in working with functional materials and his passion for sport, technical and functional wear was born. In 2017 he got his first position at Bergans of Norway as Designer where he refined his professional skills and worked in Technical Lifestyle segment as well as Outdoor, Hiking, Kids & Youth for the past 4 years. He quit his job mid 2021 to pursue his new ideology.

Currently he is is looking for a new job while starting his long wanted textile waste recycle and upcycle research project.
</body>
</html>