<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kambadiami - Especializado em Soluções Digitais</title>
	<meta name="description" content="Agência especializada em Marketing Digital, Criação de Aplicativos Mobile.">
	<meta name="keywords" content="Agência digital, Marketing, Sites">
	<meta name="robots" content="index, follow">
    <meta name="author" content="Leopoldo Francisco">
    <link rel="stylesheet" href="../public/css/estilo.css">
    <link rel="stylesheet" href="../public/css/contacto.css">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome-4.7.0/css/font-awesome.min.css">-->

    
		<link rel="stylesheet" href="../public/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
		<link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel="stylesheet" type="text/css">
</head>
<body>
    <header class="cabecalho container"> 
        <a href="index.html"><h3 class="logo">Kambadiami - Logo</h3></a>
    <nav>
            <ul class="menu"> 
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Clientes</a></li>
                <li><a href="#">Serviços</a></li>
                <li><a href="galeria.html">Galeria</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Quem Somos</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>		
    </header>


    <div style="clear: both;"></div>
    <section class="contacto container">
        
            <div class="form container">
                <h2>Entre em contacto</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore expedita, exercitationem voluptatem similique eligendi architecto facere placeat soluta incidunt voluptatibus mollitia, nostrum natus eos pariatur beatae dolore illum consequuntur modi.</p>

                <form action="">
                    <input type="text" name="nome" placeholder="Nome">
                    <input type="text" name="email" placeholder="E-mail">
                    <textarea name="mensagem" id="" placeholder="Mensagem" cols="30" rows="10"></textarea>
                    <div style="clear: both;"></div>
                    <div><input type="submit" value="Enviar"></div>
                </form>

            </div>

            <div class="map-wraper">
                <h2>Faça uma visita</h2>
                    <div class="map-wraper3">
                        <div class="map-wraper2">
                            <div id="map" class="map"></div>
                        </div>
                    </div>
            </div>

            <div style="clear: both;"></div>
    </section>
    Contact me!
Please do not hesitate to contact me if you have any questions, inquiries or if you just want to connect and expand your network.
I love getting to know new people and sharing ideas and thoughts.
Xavier Mirzada
currently based in OSLO
<!-- RODAPÉ -->
    <footer class="rodape container">
        <div class="social-icons">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-google"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-envelope"></i></a>
        </div>
        <p class="copyrigth">
           &copy; Kambadiami 2022 - Todos os direitos reservados.
        </p>
    </footer>
</body>
</html>