<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kambadiami - Especializado em Soluções Digitais</title>
	<meta name="description" content="Agência especializada em Marketing Digital, Criação de Aplicativos Mobile.">
	<meta name="keywords" content="Agência digital, Marketing, Sites">
	<meta name="robots" content="index, follow">
    <meta name="author" content="Leopoldo Francisco">
    <link rel="stylesheet" href="../public/css/galeria.css">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome-4.7.0/css/font-awesome.min.css">-->

    
		<link rel="stylesheet" href="../public/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
		<link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel="stylesheet" type="text/css">
</head>
<body>
    <header class="cabecalho container"> 
        <a href="index.html"><h3 class="logo">Kambadiami - Logo</h3></a>
    <nav>
            <ul class="menu"> 
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Clientes</a></li>
                <li><a href="#">Serviços</a></li>
                <li><a href="galeria.html">Galeria</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Quem Somos</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>		
    </header>
    <div class="title">
        <h2>Galeria</h2>
    </div>
    <section class="flex">
        <div>
            <img src="../public/assets/img/hacker.jpg" alt="CEO Leopoldo">
            <p><span>Privacidade</span></p>
        </div>
        <div>
            <img src="../public/assets/img/business.jpg" alt="business">
            <p><span>Business</span></p>
        </div>
        <div>
            <img src="../public/assets/img/saltar.jpg" alt="">
            <p><span>Marketing </span></p>
        </div>
        <div>
            <img src="../public/assets/img/ajuda.jpg" alt="">
            <p><span>Helpdesk</span></p>
        </div>
        <div>
            <img src="../public/assets/img/site.jpg" alt="">
            <p><span>Criação de Sites</span></p>
        </div>
        <div>
            <img src="../public/assets/img/Dica.jpg" alt="CEO Leopoldo">
            <p><span>Call Center</span></p>
        </div>
    </section> 
    <article></article>
    <!-- RODAPÉ -->
    <footer class="rodape container">
        <div class="social-icons">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-google"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-envelope"></i></a>
        </div>
        <p class="copyrigth">
           &copy; Kambadiami 2022 - Todos os direitos reservados.</em>
        </p>
    </footer>
</body>
</html>