<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kambadiami - Especializado em Soluções Digitais</title>
	<meta name="description" content="Agência especializada em Marketing Digital, Criação de Aplicativos Mobile.">
	<meta name="keywords" content="Agência digital, Marketing, Sites">
	<meta name="robots" content="index, follow">
    <meta name="author" content="Leopoldo Francisco">
    <link rel="stylesheet" href="../public/css/estilo.css">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome-4.7.0/css/font-awesome.min.css">-->

    
		<link rel="stylesheet" href="../public/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
		<link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel="stylesheet" type="text/css">
</head>
<body>
    <header class="cabecalho container"> 
        <a href="index.html"><h3 class="logo">Kambadiami - Logo</h3></a>
    <nav>
            <ul class="menu"> 
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Clientes</a></li>
                <li><a href="#">Serviços</a></li>
                <li><a href="galeria.html">Galeria</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Quem Somos</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>		
    </header>
    <div style="clear: both;"></div>
    <div class="banner container">
    <div class="title">
        <h2> OUSE INOVAR! </h2>
        <h3><br> Criamos experiências  e estabelecemos ações estratégicas que conetam marcas e consumidores. </h3>
    </div>
    <div class="botoes">
        <form action="../views/cadastrar.html" method="post">
            <button class="btn btn-cadastrar bg-white radiu"> Cadastrar <i class="fa fa-arrow-circle-right"></i></button>
        </form>
    </div>
    </div>
    <div style="clear: both;"></div>
   <main class="servicos container">
        <!-- HELPDESK -->
    <article class="servico">
        <a href="#"><img src="../public/assets/img/ajuda.jpg" alt="helpdesk"></a>
        <div class="inner">
            <a href="#"> Helpdesk </a>
            <h4>Microsoft, Linux</h4>
            <div class="inner">
            <p>Se você está precisando de Criação de algum material em específico, conte com a nossa equipe
             de profissionas.
             Eles farão toda campanha publicitária. VT, outdoor, folder, anúncio e muito mais pela sua
             empresa no mais alto padrão de qualidade.</p>
            </div>
    </article>
    <div style="clear: both;"></div>
     <!-- MARKETING DIGITAL -->
    <article class="servico">
        <a href="#"><img src="../public/assets/img/saltar.jpg" alt="Marketing Digital"></a>
        <div class="inner">
            <a href="#"> Marketing Digital </a>
            <h4>Administração de Redes Sociais</h4>
            <div class="inner">
            <p>Como agência de publicidade aplicamos estratégias nos meios digitais para que a seu negócio seja visto por milhões de usuários. Angola é o 14º país mais conectado do mundo. Por este motivo, o seu negócio não pode ficar fora do mercado digital</p>
            </div>
    </article>
     <!-- CRIAÇÃO DE SITES -->
    <article class="servico">
        <a href="#"><img src="../public/assets/img/site.jpg" alt="Criação de Sites"></a>
        <div class="inner">
            <a href="#"> Criação de Sites</a>
            <h4>Sites Administráveis</h4>
            <div class="inner">
            <p>Como agência de publicidade aplicamos estratégias nos meios digitais para que a seu negócio seja visto por milhões de usuários. Angola é o 14º país mais conectado do mundo. Por este motivo, o seu negócio não pode ficar fora do mercado digital</p>
            </div>
    </article>
    <div style="clear: both;"></div>
   </main>
   <div style="clear: both;"></div>


    <!-- RODAPÉ -->
    <footer class="rodape container">
        <div class="social-icons">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-google"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-envelope"></i></a>
        </div>
        <p class="copyrigth">
           &copy; Kambadiami 2022 - Todos os direitos reservados.
        </p>
    </footer>
</body>
</html>