<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../public/css/login.css">
</head>
<body>
    <div class="caixalogin">
        <img src="../public/assets/img/FB_IMG_15671687092741154.jpg" class="avatar" alt="">
        <h1>Iniciar secessão</h1>
        <form  action="../views/index.html" method="post">
            <p>Nome de Usuário</p>
            <input type="text" name="" placeholder="Escreva o nome" required>
            <p>Password</p>
            <input type="password" name="" placeholder="Escreva a password" required>
            <input type="submit" name="" value="Login">
            <a href="#">Esqueceste sua password?</a><br>
            <a href="cadastrar.html">Não tenho cadastro</a>
        </form>
    </div>
    <footer>
        <p>&copy;  Kambadiami 2022 - Todos os direitos reservados.</p>
    </footer>
</body>
</html>